body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #1b1c21;
    color: #BFD0FC;
}

/* Serving Jaune */
@font-face {
    font-family: 'NaN Jaune';
    src: url('fonts/NaNJauneMaxi-Var.woff2');
}


header {
    display: flex;
    padding: 3rem 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 10rem 0;
}

.lead {
    font-size: 4rem;
}

.addendum {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
}

.three-col {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

a {
    color: #bfd0fc;
    text-decoration: none;
    border-bottom: 1px dotted #bfd0fc;
    padding: 0.1rem;
    background-image: linear-gradient(#bfd0fc, #bfd0fc);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .25s;
    transition-timing-function: ease-in-out;
}

a:hover,
a:focus {
    color: #1b1c21;
    /* background-color: #bfd0fc; */
    padding: 0.1rem;
    background-size: 100% 100%;
    border-bottom: none;
}

.wordmark {
    font-family: 'NaN Jaune', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
    color: #bfd0fc;
    text-decoration: none;
    border: none;
}

/* Image appear on cursor when hovering over keywords*/
#software:hover:after {
    content: url(../img/nuff_yulio.gif);
    /* no need for qoutes */
    display: block;
    position: absolute;
}

#branding:hover:after {
    content: url(../img/nuff_mjm_logo_2020.gif);
    display: block;
    position: absolute;
}

#murals:hover:after {
    content: url(../img/nuff_SoSC_fail.gif);
    display: block;
    position: absolute;
}

#installations:hover:after {
    content: url(../img/nuff_shard.gif);
    display: block;
    position: absolute;
}

#clocks:hover:after {
    content: url(../img/nuff_pulseclock_loop.gif);
    display: block;
    position: absolute;


}

::selection {
    background: #3838d4;
}